<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Recipe: <%=@recipe.name%></title>
  </head>
  <body>
    <form action="/recipes/<%=@recipe.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h1>Name: <input type="text" name="name" value="<%=@recipe.name%>"></h1>
      <h2>Ingredients: <input type="text" name="ingredients" value="<%=@recipe.ingredients%>"></h2>
      <h2>Cook Time: <input type="text" name="cook_time" value="<%=@recipe.cook_time%>"> minutes</h2>
      <input type="submit" value="Update">
    </form>

  </body>
</html>
